<div class="d-grid gap-2 col-10 mx-auto mt-4 mb-5">
    <button class="btn mt-3" type="button" (click)="getFatigueByRange('week')">Last 7 days Record</button>
    <button class="btn mt-3" type="button" (click)="getFatigueByRange('fortnight')">Last 15 days Record</button>
    <button class="btn mt-3" type="button" (click)="getFatigueByRange('month')">Last Month Record</button>
</div>

<div class="records-container">
    <div *ngFor="let record of records" class="record mt-2">
        <div class="row">
            <div class="col-5 image-container">
                <img [src]="record.img" alt="Record Image" class="record-img">
            </div>
            <div class="col-7">
                <div class="record-info">
                    Statu: {{ record.status }}
                </div>
                <div class="record-info">
                    Time: {{ record.time }}
                </div>
                <div class="record-info">
                    Date: {{ record.date }}
                </div>
            </div>
        </div>
    </div>
</div>

