<!-- <a>{{employeeName}}</a> -->
<nav class="navbar sticky-top" style="background-color: #8A58C5;">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="#" style="color: white;">Back</a>
        <a class="navbar-brand" style="color: white">Recorded Database</a>
        <div class="navbar-brand"></div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <app-user-details></app-user-details>
            <app-status-trend [trendData]="trendData" [duration]="duration"></app-status-trend>
        </div>
        <div class="col-6">
            <app-history-filter (fatigueRecordsChanged)="onFatigueRecordsChanged($event)"></app-history-filter>
        </div>
    </div>
</div>